body {
    background-image: url('../images/wtc.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.container__home {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 35px;
    border: 12px solid var(--margin-color);
    border-radius: 12px;
    background-color: var(--background-containers);
    box-shadow: 10px 10px 10px 10px lightblue;
    padding: 2% 2%;
}

.container__info-home {
    padding: 0px 20px;
    min-width: 300px;
    order: 2;
}

.home__title {
    font-family: var(--font-1);
    text-align: center;
    font-size: 1.9rem;
    margin: 10px 0px;
}

.home__description {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.5;
    font-family: var(--font-5);
    font-weight: lighter;
}

.container__info-home,
.container__text {
    padding: 5px 0px;
}

.container__info-home,
.container__video-home {
    flex: 2 2;
}

.button__nav {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    outline: none;
    border: 4px solid var(--margin-color);
    border-radius: 12px;
    background-color: var(--background-body);
    font-family: var(--font-1);
    font-size: 20px;
}

.button__nav:hover {
    box-shadow: 10px 10px 10px 10px lightblue;
    transition: all .7s;
}

.container__video-home {
    display: flex;
    justify-content: center;
}

.container__video {
    border: 12px solid var(--margin-color);
    border-radius: 12px;
    padding: 0 0;
    background-color: #000000;
    box-shadow: 10px 10px 10px 10px lightblue;
}


@media screen and (max-width:768px) {

    html {
        font-size: 15px;
    }


    .container__home {
        margin: 40px;
        box-shadow: 7px 7px 7px 7px #222;
    }

    .container__video-home {
        order: 1;
    }

    .container__info-home {
        font-size: 1.05rem;
        order: 2;
    }

    .button__nav {
        box-shadow: 10px 10px 10px 10px lightblue;
    }

    body {
        background-image: url('../images/nwa.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
}