@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Sancreek&family=Sedgwick+Ave+Display&family=Teko:wght@300&family=UnifrakturCook&display=swap');

:root {
    --font-1: 'Pirata One', cursive;
    --font-2: 'Sedgwick Ave Display', cursive;
    --font-3: 'UnifrakturCook', cursive;
    --font-4: 'Sancreek', cursive;
    --font-5: 'Teko', sans-serif;

    --background-containers: #cdffff;
    --margin-color: #D6EAF8;
    --background-body: #EBF5FB;

    --blanco-main : #fff;
    --correcto:#70ff8bcc;
    --incorrecto: #f008;
}